.your_trip_section {
    background-color: #fff;
    color: rgb(30, 30, 30);
    padding-bottom: 10vh;
    .your_trip-wrapper {
        position: relative;
        z-index: 100;
        display: flex;
        justify-content: flex-start;
        margin-top: -15vh;
        padding-bottom: 15vh;
        padding-left: 15vw;
        img {
            object-fit: cover;
            height: 85vh;
            min-width: 30vw;
            max-width: 30vw;
            margin-top: 0vh;
        }
        .views_description {
            margin-top: 2.5vh;
            padding: 15vh 0;
            margin-left: 5vw;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            h2 {
                font-size: 3.25rem;
                font-weight: 600;
            }
            .subheading {
                color: rgb(140, 140, 140);
                font-size: 1.15rem;
                font-weight: 500;
                letter-spacing: 2px;
                text-transform: uppercase;
                margin-top: 1rem;
            }
            .description-text {
                font-family: 'Maven Pro';
                color: rgb(25, 25, 25);
                font-size: 19px;
                width: auto;
                margin: 2rem 0;
                line-height: calc(19px * 1.4);
                letter-spacing: 0.5px;
                word-spacing: 0px;
                font-weight: 500;
                width: 45%;
                text-align: justify;
            }
            .button {
                margin-top: 1rem;
                font-family: "Space Grotesk", sans-serif;
                font-size: 1.25rem;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 1.25px;
                display: flex;
                align-items: center;
                cursor: pointer;
                user-select: none;
                .arrow-icon {
                    font-size: 1.7rem;
                    margin-left: 0.5rem;
                    color: rgb(120, 120, 120);
                }
            }
        }
    }
    .experience-slider-container {
        margin: 5vh 0;
        h2 {
            color: #000;
            text-align: center;
            font-size: 3.7rem;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.75px;
        }
        .experience_subheading {
            color: rgb(50, 50, 50);
            font-size: 17px;
            text-align: center;
            margin-top: 0.5rem;
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: 0.6px;
            word-spacing: 1.5px;
        }
        .experiences_wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 99%;
            margin: 10vh auto 12.5vh;
            .experience_card {
                width: calc(95% / 5);
                position: relative;
            }
            .card-video {
                object-fit: cover;
                width: 100%;
                height: 25vh;
                transition: .2s ease-in-out;
                filter: brightness(50%);
                &.active {
                    filter: brightness(90%);
                }
            }
            .card_description {
                width: 85%;
                z-index: 10;
                color: #fff;
                position: absolute;
                top: 72.5%;
                left: 50%;
                transform: translateX(-50%);
                user-select: none;
                display: flex;
                justify-content: space-between;
                align-items: center;
                p {
                    font-family: 'Maven Pro';
                    font-size: 1.3rem;
                    font-weight: 500;
                    &:nth-of-type(2) {
                        margin-top: 0.25rem;
                        font-size: 15px;
                        font-weight: 100;
                    }
                }
                .play-icon {
                    font-size: 2.25rem;
                    cursor: pointer;
                }
            }
        }
        .map_section {
            position: relative;
            margin: 7.5vh 0;
            .map_section_bg-image {
                background-image: url('/parkMap.jpg');
                background-size: cover;
                width: 100%;
                height: 60vh;
                filter: brightness(70%);
            }
            .pin-icon {
                position: absolute;
                z-index: 55;
                top: 40.5%;
                left: 18.5%;
                font-size: 4.25rem;
                color: royalblue;
                cursor: pointer;
                &.second-pin {
                    color: red;
                    top: 23%;
                    left: 12.25%;
                }
                &.third-pin {
                    color: rgb(17, 255, 0);
                    top: 22.5%;
                    left: 60.25%;
                }
                &.fourth-pin {
                    color: rgb(17, 255, 0);
                    top: 37%;
                    left: 80.75%;
                }
            }
            .map_section-text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 30;
                color: #fff;
                background-color: rgb(35, 35, 35);
                padding: 0.8rem 1rem;
                h6 {
                    font-family: 'Maven Pro';
                    letter-spacing: 0.3px;
                    font-size: 20px;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .arrow-icon {
                        color: orange;
                        font-size: 28px;
                        margin-left: 0.5rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                p {
                    margin-top: 2px;
                    font-size: 15px;
                    font-weight: 100;
                }
            }
            .map_section-description {
                color: #fff;
                background-color: rgba(0, 0, 0, 0.825);
                position: absolute;
                left: 12.5%;
                bottom: 0;
                transform: translateY(50%);
                width: auto;
                width: 25%;
                padding: 1rem 2rem;
                backdrop-filter: blur(2.5px);
                h6 {
                    margin: 0.25rem 0 1.25rem;
                    font-family: "Space Grotesk", sans-serif;
                    font-size: 1.45rem;
                    line-height: 2rem;
                    font-weight: 500;
                    text-transform: uppercase;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    user-select: none;
                    .icon {
                        font-size: 1.75rem;
                    }
                }
                .description_paragraph {
                    font-size: 17px;
                    font-weight: 200;
                    font-variant: small-caps;
                    letter-spacing: 1.25px;
                    text-align: left;
                    user-select: none;
                }
            }
        }
    }
}

@media screen and (max-width: 1500px) {
    .your_trip_section {
        .your_trip-wrapper {
            padding-bottom: 10vh;
            width: 95%;
            margin: -12.5vh auto 0;
            img {
                object-fit: cover;
                height: 85vh;
                min-width: 35vw;
                max-width: 35vw;
                margin-top: 0vh;
            }
            .views_description {
                margin-top: 0;
                padding: 10vh 0;
                margin-left: 4vw;
                h2 {
                    color: #000;
                    font-size: 3rem;
                    font-weight: 600;
                    margin-left: -6px;
                }
                .subheading {
                    color: rgb(150, 150, 150);
                    font-size: 18px;
                    letter-spacing: 1.4px;
                    margin-top: 0.35rem;
                }
                .description-text {
                    color: rgb(25, 25, 25);
                    font-size: 19px;
                    line-height: calc(19px * 1.425);
                    letter-spacing: 0.25px;
                    width: 67.5%;
                }
                .button {
                    margin-top: 0.75rem;
                    .arrow-icon {
                        font-size: 1.75rem;
                    }
                }
            }
        }
        .experience-slider-container {
            h2 {
                font-size: 3.25rem;
                letter-spacing: 0.75px;
            }
            .experience_subheading {
                color: rgb(125, 125, 125);
                font-size: 18px;
                margin-top: 0.3rem;
                font-weight: 300;
                letter-spacing: 0.5px;
                word-spacing: 2px;
            }
            .experiences_wrapper {
                width: 99%;
                margin: 7.5vh auto 15vh;
                .experience_card {
                    width: calc(96% / 5);
                    position: relative;
                }
                .card-video {
                    object-fit: cover;
                    width: 100%;
                    height: 25vh;
                    transition: .2s ease-in-out;
                    filter: brightness(50%);
                    &.active {
                        filter: brightness(90%);
                    }
                }
                .card_description {
                    width: 85%;
                    z-index: 10;
                    color: #fff;
                    position: absolute;
                    top: 72.5%;
                    left: 50%;
                    transform: translateX(-50%);
                    user-select: none;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    p {
                        font-family: 'Maven Pro';
                        font-size: 1.3rem;
                        font-weight: 500;
                        &:nth-of-type(2) {
                            margin-top: 0.25rem;
                            font-size: 15px;
                            font-weight: 100;
                        }
                    }
                    .play-icon {
                        font-size: 2.25rem;
                        cursor: pointer;
                    }
                }
            }
            .map_section {
                position: relative;
                margin: 5vh 0;
                .map_section_bg-image {
                    filter: brightness(65%);
                }
                .pin-icon {
                    top: 31%;
                    left: 18%;
                    font-size: 4.25rem;
                    cursor: pointer;
                    &.second-pin {
                        top: 17%;
                        left: 11.5%;
                    }
                    &.third-pin {
                        top: 17%;
                        left: 59.75%;
                    }
                    &.fourth-pin {
                        top: 28.5%;
                        left: 80%;
                    }
                }
                .map_section-text {
                    background-color: rgb(25, 25, 25);
                    padding: 0.8rem 1.1rem;
                    h6 {
                        letter-spacing: 0.25px;
                        font-size: 19px;
                        .arrow-icon {
                            font-size: 26px;
                            margin-left: 0.7rem;
                        }
                    }
                    p {
                        margin-top: 3px;
                    }
                }
                .map_section-description {
                    background-color: rgba(0, 0, 0, 0.825);
                    width: 35%;
                    h6 {
                        margin: 0.25rem 0 1.25rem;
                        font-size: 1.4rem;
                    }
                    .description_paragraph {
                        letter-spacing: 1.2px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1250px) {
    .your_trip_section {
        .your_trip-wrapper {
            justify-content: space-around;
            padding-left: 2.5%;
            width: 97.5%;
            img {
                min-width: 42.5vw;
                max-width: 42.5vw;
            }
            .views_description {
                width: 45%;
                .description-text {
                    width: 85%;
                }
            }
        }
        .experience-slider-container {
            .experiences_wrapper {
                width: 100%;
                flex-wrap: wrap;
                justify-content: space-around;
                .experience_card {
                    width: 33%;
                }
            }
            .map_section {
                .map_section-description {
                    width: 45%;
                }
            }
        }
    }
}